//temp css
aside {
    min-width: 280px;
    background-color: #fff;
    // position: fixed;
    z-index: 100;

    .logo {
        width: 345px;
        height: 120px;
    }
    .logo {
        width: 345px;
        height: 120px;
        display: block;
        padding: 30px 20px 10px 50px;
    }
    .main-menu {
        padding-left: 40px;
    }
    .menu, .nav-item {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
    }
    .menu {
        font-size: 20px;
        line-height: 30px;
    }
    .nav-item {
        font-size: 16px;
        line-height: 24px;
    }
    
    
    .nav-link:hover {
        background: lightblue;
        border-top-left-radius:  15px;
        border-bottom-left-radius: 15px;
        border-right-color: blue;
        width: 100%;
        border-right: solid;
    }
    .calendar {
        background-color: blue;
        color: #fff;
        text-decoration: none;
        border-radius: 10px;
        width: 190px;
        height: 90px;
        text-align: center;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 0.5px;
    }
    a.calendar:hover {
        color: black;
        background-color: white;
    }
    .calendarimg {
        padding-top: 20px;
    }
    .license {
        margin-top: 170px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: #969BA0;
    }
    .heart {
        color:red;
    }
    .footer {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
    }
    
}
