main .recomend-trainer {
    background-color: #fff;
    margin: 0 20px;
    padding: 2rem;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    
  }
  .recomend-trainer .scroll-btn {
      border: none;
      background-color: #fff;
      height: 4.25rem;
      width: 4.25rem;
      border-radius: 50%;
      box-shadow: 0px 13px 22px rgba(0, 0, 0, 0.12);
      position: absolute;
      top: 50%;
      right: 1rem;

  }
  .recomend-trainer .button-more {
    min-height: 3rem;
    font-size: 1rem;
    color: #fff;
    border: none;
    padding: .75rem 2rem;
    border-radius: 24px;
    background-color: #0B2A97;
  }
  .recomend-trainer h3 {
      font-size: 1.25rem;
  }
  .recomend-trainer h5 {
    font-size: .75rem;
}
  .btn-view-more {
    position: absolute;
    box-shadow: none;
    border: none;
    border-radius: 20px;
    color: white; 
    background-color: rgb(0, 89, 255);
    top: 30px;
    right: 30px;
  }
  .carousel-inner {
    background-color: grey;
    border-radius: 2px;
    box-shadow: 2px;
  }
  .carousel-item {
    height: 238px;
    width: 100%;
  }
  #item {
    display: inline-flex;
    
  }
  .recomend-trainer img {
    border-radius: 50%;
  }
  .trainer-card:hover {
    background: white;
    border-radius: 30px;
    box-shadow: 0px 10px 22px rgba(0, 0, 0, 0.08);
    cursor: pointer;
  }
  .trainer-card h6 {
      font-weight: 500;
  }
  .trainer-card p {
    color: #626262;
}
.trainer-card .rating {
    font-weight: 500;
}
.trainer-card a {
    color: #0B2A97;
    
}
.trainer-card .divider {
    color: #E2E2E2;
}
  #row {
      width: 1500px;
  }
  