.workout-stat {
    min-width: 660px;
    max-width: 780px;
    background-color: #fff;
    padding: 2rem 4rem;
    margin: 20px;
    border-radius: 20px;

    &__title {
        h2 {
            font-size: 1.25rem;
            font-weight: 500;
        }
        p {
            font-size: .75rem;
            color: #929292;
        }
        
    }

    &__activity-select {
        border: none;
        padding: .75rem 3.2rem;
        background-color: #F5F5F5;
        border-radius: 20px;
        color: #000;
        font-size: 1rem;
        position: relative;
        &::before {
            content: "";
            display: block;
            width: 24px;
            height: 24px;
            background-image: url('../img/icons/work-stat.svg');
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            left: 1rem;
            top: .75rem;
        }
        &::after {
            content: "";
            display: block;
            width: 24px;
            height: 24px;
            background-image: url('../img/icons/chevron-down-blue.svg');
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            right: 1rem;
            top: .75rem;
        }
    }
}
.w-chart-grid {

    &__row {
        width: 100%;
        min-height: 2.7rem;
        border-bottom: 1px dashed #D1D1D1;

        &--top-row {
            min-height: 1.5rem;
        }

        &--active {
            border-bottom: 1px dashed #6F6F6F;
        }
    }

    &__cell {
        max-width: 80px;
        width: 12.5%;
        min-height: 100%;
        border-right: 1px dashed #D1D1D1;
        position: relative;

        &--first {
            max-width: 40px;
            width: 6.25%;
        }
        &--last {
            max-width: 40px;
            width: 6.25%;
            border: none;
        }
        &--active {
            border-right: 1px dashed #6F6F6F;
        }
    }

    &__active-point {
        display: block;
        background-color: #fff;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        outline: 8px solid #0B2A97;
        position: absolute;
        bottom: -10px;
        right: -10px;
        z-index: 10;
    }

    &__chart-line {
        position: absolute;
        bottom: -8px;
        left: -240px;
    }

    &__x-text {
        position: absolute;
        right: -.75rem;
        bottom: -1.8rem;
        color: #3E4954;
        font-size: 0.75rem;
    }

    &__y-text {
        position: absolute;
        left: -1.75rem;
        bottom: -.5rem;
        color: #808080;
        font-size: 0.75rem;
    }

    &__dist-label {
        height: 4rem;
        width: 8rem;
        background-color: #fff;
        position: absolute;
        left: 4rem;
        bottom: 1rem;
        box-shadow: 0px 15px 21px rgba(0, 0, 0, 0.13);
        border-radius: 16px;
        padding: .5rem;
        z-index: 10;
        &::before {
            content: "";
            width: 0; 
            height: 0; 
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent; 
            border-right: 10px solid #fff; 
            position: absolute;
            left: -10px;
            top: 1.5rem;
            
        }

        h3 {
            font-size: 1.25rem;
            margin: 0;
            font-weight: 600;
        }
        p {
            margin: .25rem 0 0 0;
            font-size: .75rem;
            color: #AFAFAF;
        }

        
    }
}