header {
  width: 100%;
  height: 5rem;
  position: fixed;
  z-index: 100;
}

header .menu-container {
  width: 90%;
}

header .page-title {
  font-size: 1.75rem;
  font-weight: 600;
  margin-left: 2.5rem;
}

header form {
  position: relative;
  margin-left: 11rem;
}

header form .search-icon {
  position: absolute;
  width: 1.2rem;
  left: 1rem;
  top: 1rem;
}

header .search-field {
  width: 20rem;
  height: 3rem;
  padding-left: 3rem;
  border: none;
  background-color: #F3F3F3;
  border-radius: 20px;
  font-size: 1rem;
}

header .notifications .notif-icon {
  display: block;
  padding: 1rem;
  background-color: #E9EEFF;
  margin-right: 1.2rem;
  border-radius: 20px;
  position: relative;
}

header .notifications .notif-icon::after {
  content: "";
  width: .8rem;
  height: .8rem;
  background-color: #FF9900;
  outline: solid 4px #fff;
  position: absolute;
  border-radius: 50%;
  top: .4rem;
  right: .4rem;
}

header .admin-profile h6 {
  font-weight: 600;
  font-size: 1rem;
}

header .admin-profile p {
  font-size: .75rem;
  color: #8F8F8F;
}

aside {
  min-width: 280px;
  background-color: #fff;
  z-index: 100;
}

aside .logo {
  width: 345px;
  height: 120px;
}

aside .logo {
  width: 345px;
  height: 120px;
  display: block;
  padding: 30px 20px 10px 50px;
}

aside .main-menu {
  padding-left: 40px;
}

aside .menu, aside .nav-item {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
}

aside .menu {
  font-size: 20px;
  line-height: 30px;
}

aside .nav-item {
  font-size: 16px;
  line-height: 24px;
}

aside .nav-link:hover {
  background: lightblue;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-right-color: blue;
  width: 100%;
  border-right: solid;
}

aside .calendar {
  background-color: blue;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  width: 190px;
  height: 90px;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 0.5px;
}

aside a.calendar:hover {
  color: black;
  background-color: white;
}

aside .calendarimg {
  padding-top: 20px;
}

aside .license {
  margin-top: 170px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #969BA0;
}

aside .heart {
  color: red;
}

aside .footer {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}

.workout-stat {
  min-width: 660px;
  max-width: 780px;
  background-color: #fff;
  padding: 2rem 4rem;
  margin: 20px;
  border-radius: 20px;
}

.workout-stat__title h2 {
  font-size: 1.25rem;
  font-weight: 500;
}

.workout-stat__title p {
  font-size: .75rem;
  color: #929292;
}

.workout-stat__activity-select {
  border: none;
  padding: .75rem 3.2rem;
  background-color: #F5F5F5;
  border-radius: 20px;
  color: #000;
  font-size: 1rem;
  position: relative;
}

.workout-stat__activity-select::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("../img/icons/work-stat.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 1rem;
  top: .75rem;
}

.workout-stat__activity-select::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("../img/icons/chevron-down-blue.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 1rem;
  top: .75rem;
}

.w-chart-grid__row {
  width: 100%;
  min-height: 2.7rem;
  border-bottom: 1px dashed #D1D1D1;
}

.w-chart-grid__row--top-row {
  min-height: 1.5rem;
}

.w-chart-grid__row--active {
  border-bottom: 1px dashed #6F6F6F;
}

.w-chart-grid__cell {
  max-width: 80px;
  width: 12.5%;
  min-height: 100%;
  border-right: 1px dashed #D1D1D1;
  position: relative;
}

.w-chart-grid__cell--first {
  max-width: 40px;
  width: 6.25%;
}

.w-chart-grid__cell--last {
  max-width: 40px;
  width: 6.25%;
  border: none;
}

.w-chart-grid__cell--active {
  border-right: 1px dashed #6F6F6F;
}

.w-chart-grid__active-point {
  display: block;
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  outline: 8px solid #0B2A97;
  position: absolute;
  bottom: -10px;
  right: -10px;
  z-index: 10;
}

.w-chart-grid__chart-line {
  position: absolute;
  bottom: -8px;
  left: -240px;
}

.w-chart-grid__x-text {
  position: absolute;
  right: -.75rem;
  bottom: -1.8rem;
  color: #3E4954;
  font-size: 0.75rem;
}

.w-chart-grid__y-text {
  position: absolute;
  left: -1.75rem;
  bottom: -.5rem;
  color: #808080;
  font-size: 0.75rem;
}

.w-chart-grid__dist-label {
  height: 4rem;
  width: 8rem;
  background-color: #fff;
  position: absolute;
  left: 4rem;
  bottom: 1rem;
  -webkit-box-shadow: 0px 15px 21px rgba(0, 0, 0, 0.13);
          box-shadow: 0px 15px 21px rgba(0, 0, 0, 0.13);
  border-radius: 16px;
  padding: .5rem;
  z-index: 10;
}

.w-chart-grid__dist-label::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #fff;
  position: absolute;
  left: -10px;
  top: 1.5rem;
}

.w-chart-grid__dist-label h3 {
  font-size: 1.25rem;
  margin: 0;
  font-weight: 600;
}

.w-chart-grid__dist-label p {
  margin: .25rem 0 0 0;
  font-size: .75rem;
  color: #AFAFAF;
}

.calories-chart {
  background-color: #fff;
  margin: 20px;
  border-radius: 20px;
  padding: 2rem 2rem 2rem 3rem;
  min-width: 900px;
}

.calories-chart__title {
  padding: 0 0 1rem 0;
}

.calories-chart__title h2 {
  font-size: 1.25rem;
  font-weight: 500;
}

.calories-chart__title p {
  font-size: .75rem;
  font-weight: 400;
}

.calories-chart__legend-item {
  position: relative;
  font-size: 1rem;
  margin: 0 2rem;
}

.calories-chart__legend-item--blue::before {
  content: "";
  position: absolute;
  left: -2rem;
  width: 19px;
  height: 19px;
  background-color: #0B2A97;
  border-radius: 10px;
}

.calories-chart__legend-item--yellow::before {
  content: "";
  position: absolute;
  left: -2rem;
  width: 19px;
  height: 19px;
  background-color: #FF9432;
  border-radius: 10px;
}

.calories-chart__legend-select {
  min-height: 3rem;
  font-size: 1rem;
  color: #fff;
  border: none;
  padding: .75rem 2.5rem .75rem 1.4rem;
  border-radius: 24px;
  background-color: #0B2A97;
  position: relative;
}

.calories-chart__legend-select::after {
  content: "";
  width: .75rem;
  height: .75rem;
  position: absolute;
  top: 1.1rem;
  right: 1.2rem;
  background-image: url("../img/icons/chevron-down-white.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.chart-grid__row {
  border-top: 1px dashed #D1D1D1;
  min-height: 2.5rem;
}

.chart-grid__row--bottom-row {
  border-top: 1px dashed #D1D1D1;
  border-bottom: 1px dashed #D1D1D1;
}

.chart-grid__cell {
  position: relative;
  min-width: 40px;
  width: 4.76%;
  min-height: 100%;
}

.chart-grid__top-col {
  width: 10px;
  background-color: #0B2A97;
  position: absolute;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  right: -5px;
  bottom: -1px;
}

.chart-grid__top-col--1-col {
  height: 6.25rem;
}

.chart-grid__top-col--2-col {
  height: 8.4rem;
}

.chart-grid__top-col--3-col {
  height: 3.75rem;
}

.chart-grid__top-col--4-col {
  height: 2rem;
}

.chart-grid__top-col--5-col {
  height: 7.7rem;
}

.chart-grid__top-col--6-col {
  height: 3.75rem;
}

.chart-grid__top-col--7-col {
  height: 0.75rem;
}

.chart-grid__top-col--8-col {
  height: 5.2rem;
}

.chart-grid__top-col--9-col {
  height: 2.8rem;
}

.chart-grid__top-col--10-col {
  height: 6.25rem;
}

.chart-grid__top-col--11-col {
  height: 2.8rem;
}

.chart-grid__top-col--12-col {
  height: 6.25rem;
}

.chart-grid__top-col--13-col {
  height: 8.4rem;
}

.chart-grid__top-col--14-col {
  height: 3.75rem;
}

.chart-grid__top-col--15-col {
  height: 2rem;
}

.chart-grid__top-col--16-col {
  height: 7.7rem;
}

.chart-grid__top-col--17-col {
  height: 3.75rem;
}

.chart-grid__top-col--18-col {
  height: 0.75rem;
}

.chart-grid__top-col--19-col {
  height: 5.2rem;
}

.chart-grid__top-col--20-col {
  height: 3.75rem;
}

.chart-grid__bottom-col {
  width: 10px;
  background-color: #FF9432;
  position: absolute;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  right: -5px;
  top: 0;
}

.chart-grid__bottom-col--1-col {
  height: .5rem;
}

.chart-grid__bottom-col--2-col {
  height: 2.2rem;
}

.chart-grid__bottom-col--3-col {
  height: 4.7rem;
}

.chart-grid__bottom-col--4-col {
  height: 1.2rem;
}

.chart-grid__bottom-col--5-col {
  height: 2.2rem;
}

.chart-grid__bottom-col--6-col {
  height: 5.2rem;
}

.chart-grid__bottom-col--7-col {
  height: 3.75rem;
}

.chart-grid__bottom-col--8-col {
  height: 1.8rem;
}

.chart-grid__bottom-col--9-col {
  height: 3.75rem;
}

.chart-grid__bottom-col--10-col {
  height: 1.8rem;
}

.chart-grid__bottom-col--11-col {
  height: 3.1rem;
}

.chart-grid__bottom-col--12-col {
  height: .5rem;
}

.chart-grid__bottom-col--13-col {
  height: 2.2rem;
}

.chart-grid__bottom-col--14-col {
  height: 4.7rem;
}

.chart-grid__bottom-col--15-col {
  height: 1.2rem;
}

.chart-grid__bottom-col--16-col {
  height: 3.75rem;
}

.chart-grid__bottom-col--17-col {
  height: 5.2rem;
}

.chart-grid__bottom-col--18-col {
  height: 3.75rem;
}

.chart-grid__bottom-col--19-col {
  height: 1.8rem;
}

.chart-grid__bottom-col--20-col {
  height: 5.2rem;
}

.chart-grid__x-numbers {
  font-size: .9rem;
  color: #808080;
  position: absolute;
  bottom: -2rem;
  right: -8px;
}

.chart-grid__y-numbers {
  font-size: .9rem;
  color: #808080;
  position: absolute;
  left: -2rem;
  top: -12px;
}

.chart-grid__y-numbers--last {
  top: 28px;
}

main .recomend-trainer {
  background-color: #fff;
  margin: 0 20px;
  padding: 2rem;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.recomend-trainer .scroll-btn {
  border: none;
  background-color: #fff;
  height: 4.25rem;
  width: 4.25rem;
  border-radius: 50%;
  -webkit-box-shadow: 0px 13px 22px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 13px 22px rgba(0, 0, 0, 0.12);
  position: absolute;
  top: 50%;
  right: 1rem;
}

.recomend-trainer .button-more {
  min-height: 3rem;
  font-size: 1rem;
  color: #fff;
  border: none;
  padding: .75rem 2rem;
  border-radius: 24px;
  background-color: #0B2A97;
}

.recomend-trainer h3 {
  font-size: 1.25rem;
}

.recomend-trainer h5 {
  font-size: .75rem;
}

.btn-view-more {
  position: absolute;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  border-radius: 20px;
  color: white;
  background-color: #0059ff;
  top: 30px;
  right: 30px;
}

.carousel-inner {
  background-color: grey;
  border-radius: 2px;
  -webkit-box-shadow: 2px;
          box-shadow: 2px;
}

.carousel-item {
  height: 238px;
  width: 100%;
}

#item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.recomend-trainer img {
  border-radius: 50%;
}

.trainer-card:hover {
  background: white;
  border-radius: 30px;
  -webkit-box-shadow: 0px 10px 22px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 10px 22px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.trainer-card h6 {
  font-weight: 500;
}

.trainer-card p {
  color: #626262;
}

.trainer-card .rating {
  font-weight: 500;
}

.trainer-card a {
  color: #0B2A97;
}

.trainer-card .divider {
  color: #E2E2E2;
}

#row {
  width: 1500px;
}

.diet-menu {
  margin: 0 0 20px 0;
  border-radius: 20px;
}

.diet-menu hr {
  background-color: #F4F4F4;
  height: 1px;
}

.diet-menu a {
  color: #0B2A97;
  font-weight: 600;
}

.radius1rem {
  border-radius: 1rem !important;
}

main {
  height: calc(100vh - 5rem);
  padding-top: 6rem;
}

main .progress-cards {
  background-color: skyblue;
  height: 300px;
}

body {
  min-width: 1480px;
  max-width: 1920px;
  background-color: #F5F9F1;
  font-family: 'Poppins', sans-serif;
}
/*# sourceMappingURL=style.css.map */