@import 'abstracts/variables';

@import 'components/header';
@import 'components/sidebar';
@import 'components/content-area/content-container';

//temp css
body {
    min-width: 1200px;
    background-color: #F5F9F1;
    font-family: 'Poppins', sans-serif;
    
}