header {
  height: 5rem;
  background-color: #dbdbdb;
}

aside {
  width: 20%;
  background-color: silver;
}

.calories-chart {
  background-color: #fff;
  margin: 20px;
  border-radius: 20px;
  padding: 2rem 2rem 2rem 3rem;
  min-width: 900px;
}

.calories-chart__title {
  padding: 1rem 0;
}

.calories-chart__title h2 {
  font-size: 1.25rem;
  font-weight: 500;
}

.calories-chart__title p {
  font-size: .75rem;
  font-weight: 400;
}

.calories-chart__legend-item {
  position: relative;
  font-size: 1rem;
  margin: 0 2rem;
}

.calories-chart__legend-item--blue::before {
  content: "";
  position: absolute;
  left: -2rem;
  width: 19px;
  height: 19px;
  background-color: #0B2A97;
  border-radius: 10px;
}

.calories-chart__legend-item--yellow::before {
  content: "";
  position: absolute;
  left: -2rem;
  width: 19px;
  height: 19px;
  background-color: #FF9432;
  border-radius: 10px;
}

.calories-chart__legend-select {
  min-height: 3rem;
  font-size: 1rem;
  color: #fff;
  border: none;
  padding: .75rem 2.5rem .75rem 1.4rem;
  border-radius: 24px;
  background-color: #0B2A97;
  position: relative;
}

.calories-chart__legend-select::after {
  content: "";
  width: .75rem;
  height: .75rem;
  position: absolute;
  top: 1.1rem;
  right: 1.2rem;
  background-image: url("../img/icons/chevron-down-white.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.chart-grid__row {
  border-top: 1px dashed #D1D1D1;
  min-height: 2.5rem;
}

.chart-grid__row--bottom-row {
  border-top: 1px dashed #D1D1D1;
  border-bottom: 1px dashed #D1D1D1;
}

.chart-grid__cell {
  position: relative;
  min-width: 40px;
  width: 4.76%;
  min-height: 100%;
}

.chart-grid__top-col {
  width: 10px;
  background-color: #0B2A97;
  position: absolute;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  right: -5px;
  bottom: -1px;
}

.chart-grid__top-col--1-col {
  height: 6.25rem;
}

.chart-grid__top-col--2-col {
  height: 8.4rem;
}

.chart-grid__top-col--3-col {
  height: 3.75rem;
}

.chart-grid__top-col--4-col {
  height: 2rem;
}

.chart-grid__top-col--5-col {
  height: 7.7rem;
}

.chart-grid__top-col--6-col {
  height: 3.75rem;
}

.chart-grid__top-col--7-col {
  height: 0.75rem;
}

.chart-grid__top-col--8-col {
  height: 5.2rem;
}

.chart-grid__top-col--9-col {
  height: 2.8rem;
}

.chart-grid__top-col--10-col {
  height: 6.25rem;
}

.chart-grid__top-col--11-col {
  height: 2.8rem;
}

.chart-grid__top-col--12-col {
  height: 6.25rem;
}

.chart-grid__top-col--13-col {
  height: 8.4rem;
}

.chart-grid__top-col--14-col {
  height: 3.75rem;
}

.chart-grid__top-col--15-col {
  height: 2rem;
}

.chart-grid__top-col--16-col {
  height: 7.7rem;
}

.chart-grid__top-col--17-col {
  height: 3.75rem;
}

.chart-grid__top-col--18-col {
  height: 0.75rem;
}

.chart-grid__top-col--19-col {
  height: 5.2rem;
}

.chart-grid__top-col--20-col {
  height: 3.75rem;
}

.chart-grid__bottom-col {
  width: 10px;
  background-color: #FF9432;
  position: absolute;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  right: -5px;
  top: 0;
}

.chart-grid__bottom-col--1-col {
  height: .5rem;
}

.chart-grid__bottom-col--2-col {
  height: 2.2rem;
}

.chart-grid__bottom-col--3-col {
  height: 4.7rem;
}

.chart-grid__bottom-col--4-col {
  height: 1.2rem;
}

.chart-grid__bottom-col--5-col {
  height: 2.2rem;
}

.chart-grid__bottom-col--6-col {
  height: 5.2rem;
}

.chart-grid__bottom-col--7-col {
  height: 3.75rem;
}

.chart-grid__bottom-col--8-col {
  height: 1.8rem;
}

.chart-grid__bottom-col--9-col {
  height: 3.75rem;
}

.chart-grid__bottom-col--10-col {
  height: 1.8rem;
}

.chart-grid__bottom-col--11-col {
  height: 3.1rem;
}

.chart-grid__bottom-col--12-col {
  height: .5rem;
}

.chart-grid__bottom-col--13-col {
  height: 2.2rem;
}

.chart-grid__bottom-col--14-col {
  height: 4.7rem;
}

.chart-grid__bottom-col--15-col {
  height: 1.2rem;
}

.chart-grid__bottom-col--16-col {
  height: 3.75rem;
}

.chart-grid__bottom-col--17-col {
  height: 5.2rem;
}

.chart-grid__bottom-col--18-col {
  height: 3.75rem;
}

.chart-grid__bottom-col--19-col {
  height: 1.8rem;
}

.chart-grid__bottom-col--20-col {
  height: 5.2rem;
}

.chart-grid__x-numbers {
  font-size: .9rem;
  color: #808080;
  position: absolute;
  bottom: -2rem;
  right: -8px;
}

.chart-grid__y-numbers {
  font-size: .9rem;
  color: #808080;
  position: absolute;
  left: -2rem;
  top: -12px;
}

.chart-grid__y-numbers--last {
  top: 28px;
}

main {
  height: calc(100vh - 5rem);
}

main .progress-cards {
  background-color: skyblue;
  height: 300px;
}

main .workout-statistics {
  background-color: #52a7c9;
  height: 300px;
}

main .recomend-trainer {
  background-color: #94a9b1;
  height: 320px;
}

main .diet-menu {
  background-color: #68c2e6;
  height: 600px;
}

body {
  min-width: 1480px;
  background-color: #F5F9F1;
  font-family: 'Poppins', sans-serif;
}
/*# sourceMappingURL=style.css.map */